html {
  font-size: 16px;
  font-family: sans-serif;
}

* {
  touch-action: manipulation;
}

#alert {
  color: #F00;
  text-align: center;
}

#score_container {
  font-size: 4em;
}
@media screen and (min-width: 300px) {
  #score_container {
    font-size: 2.5em;
  }
}

.container {
  width: 70%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    height: 100%;
    aspect-ratio: 9/16;
  }
}

.text-center {
  text-align: center;
}

#buttons {
  display: flex;
  justify-content: center;
}

#honeycomb_container {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 300px) {
  #honeycomb_container {
    max-height: 30em;
    aspect-ratio: 4/5;
  }
}
@media only screen and (min-width: 1025px) {
  #honeycomb_container {
    width: 100%;
    max-height: 800px;
    aspect-ratio: 16/9;
  }
}
#honeycomb_container svg {
  width: 100%;
  aspect-ratio: 16/9;
}
@media (min-width: 480px) {
  #honeycomb_container svg {
    max-height: 1200px;
    aspect-ratio: 9/16;
  }
}
#honeycomb_container svg .hex.white .comb {
  fill: #FFF;
}
#honeycomb_container svg .hex.yellow .comb {
  fill: #F1EA32;
}
#honeycomb_container svg .hex text {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  font-size: 4em;
  color: #000;
}
#honeycomb_container svg .hex:active .comb, #honeycomb_container svg .hex.active .comb {
  fill: #000;
}
#honeycomb_container svg .hex:active text, #honeycomb_container svg .hex.active text {
  color: #FFF !important;
  fill: #FFF;
}

#buttons_container {
  display: flex;
  justify-content: center;
}
#buttons_container button {
  padding: 0.25em;
  width: 8em;
  margin: 0.5em;
  border-radius: 1em;
  cursor: pointer;
}
@media only screen and (min-width: 300px) {
  #buttons_container button {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1025px) {
  #buttons_container button {
    font-size: 2em;
  }
}
#buttons_container button#submit {
  background-color: #FF0;
}

.hex {
  cursor: pointer;
}

aside {
  transition: all 0.4s ease;
  background-color: white;
  position: fixed;
  height: 90vh;
  overflow: visible;
}
aside #reset_container {
  padding: 1em 0 0;
  width: 100%;
  bottom: 2em;
}
aside #reset_container #reset {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
aside #tab {
  border-radius: 1em 1em 0 0;
  font-size: 0.6em;
  border: 1px solid #000;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  height: 1em;
  padding: 0.5em;
  width: 5em;
  rotate: -90deg;
  position: absolute;
  left: -4.1em;
  top: 8em;
}
@media only screen and (min-width: 1025px) {
  aside #tab {
    font-size: 1em;
  }
}
aside #aside_head {
  padding: 1em;
}
aside #word_list_container {
  height: 85vh;
  overflow-y: scroll;
  max-height: 50vh;
}
@media screen and (min-width: 300px) {
  aside #word_list_container {
    height: 35vh;
  }
}
@media screen and (min-width: 300px) {
  aside.hide {
    right: -100.5vw;
  }
}
@media screen and (min-width: 1025px) {
  aside.hide {
    right: -25.75vw;
  }
}
@media screen and (min-width: 300px) {
  aside {
    font-size: 0.6em;
    border: 0px solid #000;
    right: 0em;
    bottom: 3em;
    width: 100vw;
    top: 0;
    font-size: 1.5em;
    text-align: center;
  }
  aside h4 {
    margin: 0.5em;
  }
  aside #customLetters {
    width: 60%;
  }
  aside #close {
    padding: 0.5em;
    border: 1px solid black;
    margin: 1em auto 1em auto;
    border-radius: 1em;
    font-size: 1em;
  }
  aside input, aside button {
    font-size: 1.5rem;
    padding: 0.5em;
  }
  aside #aside_head label {
    display: block;
  }
}
@media screen and (min-width: 1025px) {
  aside {
    width: 22vw;
    max-width: 30%;
    border: 1px solid #000;
    right: 0px;
    top: 1em;
    margin: 1em;
    padding: 1em;
    font-size: 1em;
  }
  aside form {
    padding: 1em;
    display: block;
  }
  aside input, aside button {
    font-size: 1rem;
  }
}/*# sourceMappingURL=main.css.map */